@tailwind base;
@tailwind components;
@tailwind utilities;

.white-dot {
    background-color: #fff;
    border-radius: 2x 2px 0 0;
    height: 5px;
    width: 5px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
}

.general-text {
    color: #8b8676;
}

.hovered-block {
    background-color: #a29364;
}

.bg-sidebar {
    background-color: #a29364;
}

.bg-searchbar {
    background-color: #c5a648;
}

.bg-mainbar {
    background-color: #dcb336;
}
