@tailwind base;
@tailwind components;
@tailwind utilities;

.white-dot {
    background-color: #fff;
    border-radius: 2x 2px 0 0;
    height: 5px;
    width: 5px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
}
